.welcome-text-header {
    font-size: 5vmin;
    color: #EF4648;
    text-transform: uppercase;
    background-color: #2A363B;
    padding: 5vh;
}

.yolo-style-mainarea {
    font-size: 6vmin;
    color: #EFEEEE;
}

.mainarea-background {
    background-color: #2A363B;
    width: 100%;
    height: 100%;
}

.welcome-text {
    font-family: Roboto-Regular;
    font-size: 2vmin;
    color: #EFEEEE;
}