.landing-header-title-wrapper {
    width: 20vw;
    height: 10vh;
    background-color: #2A363B; // #EFC958, #2A363B
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 1vh;
    text-align: center;
    border-left: 3vh solid #EF4648;
    margin-left: 2vw;
}

.landing-header-title-text {
    font-family: Montserrat-Bold;
    font-size: 2vmin;
    color: #EF4648;
}

.landing-header-normal-text {
    font-family: Roboto-Regular;
    font-size: 1.5vmin;
    color: #EFEEEE;
}

.td-text-style {
    font-size: 2.5vmin;
    color: #EFEEEE;
}