.ele-icon {
    padding: 5px;
    color: #2196F3;
    text-align: center;
}

.ele-rows {
    height: 3.5vh;
    text-align: center;
}

.ele-col-align-left {
    text-align: left;
    font-family: Montserrat-Bold;
    color: #EFEEEE;
}