// GLOBAL IMPORTS

@import './Components/HeaderComponent/HeaderComponent.scss';
@import './Components/LandingPageComponent/LandingPageComponent.scss';
@import './Components/ElementTableComponent/ElementTableComponent.scss';
@import './Components/LogoComponent/LogoComponent.scss';
@import './Components/NaviComponent/NaviComponent.scss';
@import './Components/FooterComponent/FooterComponent.scss';
@import './Components/HeaderLeftComponent/HeaderLeftComponent.scss';
@import './Components/HeaderRightComponent/HeaderRightComponent.scss';
@import './Components/AddFormComponent/AddFormComponent.scss';
@import './Components/LandingHeaderComponent/LandingHeaderComponent.scss';
@import './Components/ElementCheckBoxComponent/ElementCheckBoxComponent.scss';



// GLOBAL COLOR VARIABLES

$main-color-red: #FF0000;
$main-color-white: #EFEEEE;
$main-color-grey: #2A363B;

$element-color-fire: #F44336;
$element-color-nature: #4CAF50;
$element-color-light: #FFEB3B;
$element-color-earth: #795548;
$element-color-darkness: #9C27B0;
$element-color-water: #2196F3;



// GLOBAL FONTS

@font-face {
    font-family: 'Montserrat-Black';
    src: url('./fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}



// GLOBAL CLASSES

.fire-color {
    color: $element-color-fire;
}

.water-color {
    color: $element-color-water;
}

.earth-color {
    color: $element-color-earth;
}

.light-color {
    color: $element-color-light;
}

.nature-color {
    color: $element-color-nature;
}

.darkness-color {
    color: $element-color-darkness;
}